<!DOCTYPE html>
<html>
<body>

<%= form_tag({controller: "link_shortener", action: "shorten"}, method: "get") do %>
  <%= label_tag(:q, "Link:") %>
  <%= text_field_tag(:link) %>
  <%= submit_tag("shorten") %>
<% end %>

</body>
</html>